input[type=text]{
    width: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
}
input[type=number]{
    width: 400px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;

}

input{
    display: flex;

}

label{
    margin-left: 200px;
}

.create-review-form{
    height: 250px;
    width: 450px;
    border-radius: 5px;
}

.submit-create-review{
    width: 405px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    height: 29px;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#ff385c;
    color: white;
}

h1 {
    margin-left: 100px;
}

button:hover{
    box-shadow: 5px 2px 2px;
    cursor: pointer;
}
